= form_for(@quiz) do |f|
  - if @quiz.errors.any?
    #error_explanation
      %h2
        = pluralize(@quiz.errors.count, "error")
        prohibited this quiz from being saved:
      %ul
        - @quiz.errors.full_messages.each do |message|
          %li= message
  -# inizio input
  -# question_1
  .field.form-group
    = f.label I18n.t('questions.question_1'), class: "question-label"
    %br
    = f.select :question_1, [["scegli", "0"],["nel petrolio", "1"],["nei buoni del Burundi", "3"],["nel mattone", "0"]], {}, {class: "form-control"}
  -# question_2
  .field.form-group
    = f.label I18n.t('questions.question_2'), class: "question-label"
    %br
    = f.select :question_2, [["scegli", "0"],["quasi 1/10 del suo stipendio", "1"],["quasi 1/20 del suo stipendio", "0"],["quasi 1/5 del suo stipendio", "3"]], {}, {class: "form-control"}
  -# question_3
  .field.form-group
    = f.label I18n.t('questions.question_3'), class: "question-label"
    %br
    = f.select :question_3, [["scegli", "0"],["lele", "1"],["nino", "1"],["lino", "3"]], {}, {class: "form-control"}
  -# question_4
  .field.form-group
    = f.label I18n.t('questions.question_4'), class: "question-label"
    %br
    = f.select :question_4, [["scegli", "0"],["riko", "0"],["GRO", "3"],["profumato", "1"]], {}, {class: "form-control"}
  -# question_5
  .field.form-group
    = f.label I18n.t('questions.question_5'), class: "question-label"
    %br
    = f.select :question_5, [["scegli", "0"],["Bruno Casciarri", "3"],["Paolo Nardin", "1"],["Daniele Corrado", "0"]], {}, {class: "form-control"}
  -# question_6
  .field.form-group
    = f.label I18n.t('questions.question_6'), class: "question-label"
    %br
    = f.select :question_6, [["scegli", "0"],["correggerlo mentre cucina", "3"],["non prenotare vacanze", "2"],["alzarsi tardi nel weekend", "0"]], {}, {class: "form-control"}
  -# question_7
  .field.form-group
    = f.label I18n.t('questions.question_7'), class: "question-label"
    %br
    = f.select :question_7, [["scegli", "0"],["Liguria", "3"],["Emilia-Romagna", "1"],["Calabria", "0"]], {}, {class: "form-control"}
  -# question_8
  .field.form-group
    = f.label I18n.t('questions.question_8'), class: "question-label"
    %br
    = f.select :question_8, [["scegli", "0"],["non parto, resto a Treviso con lui", "3"],["parto e vedo se riusciamo a costruire rapporto a distanza", "0"],["parto ma solo se lui viene con me in Svizzera", "1"]], {}, {class: "form-control"}
  -# bottone
  .action
    = f.button I18n.t('actions.submit'), class: "btn btn-success btn-lg", style: "margin-top: 30px;"
