%body
  .container
    -# %p#notice= notice
    %h1.page-header=I18n.t('title')
    %table.table.table-striped
      %thead
        %tr
          %th= I18n.t('score')
          %th{:colspan => "3"}
      %tbody
        -# mettere un limite al ciclo di 10 elementi
        - @quizzes.each do |quiz|
          %tr
            %td
              - case quiz.score
              - when 0..4
                = I18n.t('answer.very_bad').slice(0..7) + "..."
              - when 5..9
                = I18n.t('answer.bad').slice(0..9) + "..."
              - when 10..16
                = I18n.t('answer.mediocre').slice(0..9) + "..."
              - when 17..23
                = I18n.t('answer.good').slice(0..9) + "..."
              - when 24
                = I18n.t('answer.love').slice(0..9) + "..."
            %td= link_to I18n.t('actions.show'), quiz
            %td= link_to I18n.t('actions.edit'), edit_quiz_path(quiz)
            %td= link_to I18n.t('actions.destroy'), quiz, method: :delete, data: { confirm: 'Are you sure?' }
    .btn-group.action
      = button_tag link_to I18n.t('new_quiz'), new_quiz_path, class: "btn btn-success btn-lg"
