%p#notice= notice
%h1.page-header=I18n.t('title')
%table.table.table-striped
  %thead
    %tr
      -# %th Answer
      %th= I18n.t('score')
      %th{:colspan => "3"}
  %tbody
    -# mettere un limite al ciclo di 10 elementi
    -# i punteggi sono tutti uguali: mostrarli per id (che continuano a incrementare)
    -# se non riesci a sistemare togliere il ciclo e mostrare solo l'ultimo @quizzes.find(1).question_2
    - @quizzes.each do |quiz|
      %tr
        %td= quiz.sum_score
        %td= link_to 'Show', quiz
        %td= link_to 'Edit', edit_quiz_path(quiz)
        %td= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' }
%br
.btn-group
  = button_tag link_to 'New Quiz', new_quiz_path, class: "btn btn-success"
